<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jerrio.mbg.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.jerrio.mbg.pojo.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_encryptedData" jdbcType="VARCHAR" property="userEncrypteddata" />
    <result column="gender" jdbcType="TINYINT" property="gender" />
    <result column="IV" jdbcType="VARCHAR" property="iv" />
  </resultMap>
</mapper>